<div class="card mx-0 mx-md-3 mt-2 m-auto border-0">
    <div class="card-header bg-transparent d-flex align-items-center">
        <div style="width:75px; position:relative">
            <a href="#" *ngIf="sermon.series" (click)="selectSeries(sermon.series.seriesID)" class="badge rounded-pill text-bg-secondary o-100" style="position:absolute; top:0; right:0; z-index: 100;">{{sermon.series?.title}}</a>
            <app-avatar class="float-start me-2 clickable" [name]="sermon.speaker.displayName" [src]="sermon.speaker.roundedThumbnailImageURL" [size]="AvatarSize.md" [displayCircle]="true" (click)="selectSpeaker()"></app-avatar>
        </div>
        <div class="ms-2">
            <a (click)="toggleDescription()" class="clickable text-decoration-none">
                <h4 class="h4" *ngIf="sermon.bibleText || sermon.moreInfoText"><span>{{sermon.bibleText}}</span></h4>
                <h5 class="h5 o-90"><span class="d-none d-md-inline">{{sermon.fullTitle}} <small>({{sermon.preachDate | date}})</small></span> <span class="d-inline d-md-none text-small">{{sermon.displayTitle}}</span><i class="bi bi-caret-down toggle" [class.active]="showDescription"></i></h5> 
            </a>
        </div>
    </div>
    <div class="card-body">
        <div class="row" *ngIf="!showAudio && !showVideo">
            <div class="col" style="margin-top:-40px;">
                <div class="position-absolute w-100" style="z-index:1000; margin-top:10vh;">
                    <div class="row d-flex justify-content-center">
                        <div class="col">
                            <div class="text-center">
                                <button class="btn btn-primary px-4 o-80" [class.me-2]="hasVideo" (click)="showAudio = true">Listen</button>
                                <button class="btn btn-primary px-4 o-80" (click)="showVideo = true" *ngIf="hasVideo">Watch</button>
                            </div>
                        </div>
                    </div>
                </div>
                
                <app-waveform [sermonId]="sermon.sermonID" height="150" maxHeight="20" maxNumberOfPeaks="500"></app-waveform>
            </div>
        </div>
        <div class="row" *ngIf="showAudio">
            <iframe width="100%" [src]="sermonAudioUrl" style="min-width: 150px" frameborder="0"></iframe>
        </div>
        <div *ngIf="showVideo" class="row">
            <div class="col"></div>
            <div class="col-10">
                <div style="position:relative;width:100%;height:0;padding-bottom:56.25%"><iframe tabindex="-1" width="100%" height="100%" [src]="sermonAudioVideoUrl" style="position:absolute;left:0;top:0" allowfullscreen frameborder="0" scrolling="no"></iframe></div>
            </div>
            <div class="col"></div>
        </div>
        <div class="row" *ngIf="showDescription">
            <div class="col-12 col-md-6">
                <ngx-spinner [fullScreen]="false" [name]="spinnerId"></ngx-spinner>
                <select name="ddlScripture" id="ddlScripture" class="form-select" *ngIf="showScriptureDropDown" [(ngModel)]="esvIndex" (change)="scriptureChanged()">
                    <option [value]="i" *ngFor="let reference of esvResponse.passage_meta; let i=index;">{{reference.canonical}}</option>
                </select>
                <div [innerHTML]="scriptureHtml"></div>
            </div>
            <div class="col-12 col-md-6" *ngIf="sermon.moreInfoText">
                <h3>Description</h3>
                <p *ngFor="let chunk of descriptionChunks">{{chunk}}</p>
            </div>
        </div>
    </div>
</div>
