/* You can add global styles to this file, and also import other style files */
app-sermon + app-sermon{
    border-top: 2px solid darkgray !important;
}

.v1 {
    height:100%;
    width: 10px;
    border-left: 2px solid lightgrey;
    display: inline-block;
}

.clickable{
    cursor:pointer;
    text-decoration: underline;
}


.waveform-peak{
    display: inline-block;
    background: linear-gradient(to bottom, transparent 0%, black 5%, black 48%, transparent 50%, grey 52%, grey 70%, transparent 75%);
}

div[class^="o-"], div[class*=" o-"],
div[class^="o-"]:hover, div[class*=" o-"]:hover {
    transition: opacity 0.5s;
}

.o-10{
    opacity: 0.1;
}

.o-20{
    opacity: 0.2;
}

.o-30{
    opacity: 0.3;
}

.o-40{
    opacity: 0.4;
}

.o-50{
    opacity: 0.5;
}

.o-60{
    opacity: 0.6;
}

.o-70{
    opacity: 0.7;
}

.o-80{
    opacity: 0.8;
}

.o-90{
    opacity: 0.9;
}

.o-100{
    opacity: 1;
}

.o-10:hover{
    opacity: 0.3;
}

.o-20:hover{
    opacity: 0.4;
}

.o-30:hover{
    opacity: 0.5;
}

.o-40:hover{
    opacity: 0.6;
}

.o-50:hover{
    opacity: 0.7;
}

.o-60:hover{
    opacity: 0.8;
}

.o-70:hover{
    opacity: 0.9;
}

.o-80:hover,
.o-90:hover,
.o-100:hover{
    opacity: 1;
}

.toggle::before{
    transition: 0.5s;
}

.bi.bi-caret-down.toggle.active::before{
    transform: rotate(90deg);
}

a{
    color: #000;
    opacity: 0.7;
}

a:hover{
    color: #000;
    opacity: 1;
    transition: opacity 0.3s;
}

.mt-match-label {
    margin-top: 2em !important;
}


@media (min-width: 576px){
    .mt-sm-match-label {
        margin-top: 2em !important;
    }
}

.audio.extra_text{
    visibility: hidden;
}

.audio.extra_text::before {
    font-family: "bootstrap-icons !important";
    content: "\F3A5";
    visibility: visible;
    display: inline-block;
    font-family: bootstrap-icons !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    vertical-align: -.125em;
    -webkit-font-smoothing: antialiased;
}

.tooltip-override .tooltip-inner {
    background-color: lightgray;
    font-size: 80%;
    max-width: 100vw;
    width: 500px;
    color: black;
}

.tooltip-override.show {
    opacity: 0.95;
}

.tooltip-override.bs-tooltip-end .tooltip-arrow::before {
    border-right-color: lightgray;
}

.tooltip-override.bs-tooltip-start .tooltip-arrow::before {
    border-left-color: lightgray;
}

.tooltip-override.bs-tooltip-top .tooltip-arrow::before {
    border-top-color: lightgray;
}

.tooltip-override.bs-tooltip-bottom .tooltip-arrow::before {
    border-bottom-color: lightgray;
}

.scriptureDisplay {
    max-height: 95vh !important;
    overflow-y: auto;
}

.scriptureText + .scriptureText::before {
    content: "|";
    color: #333;
    text-decoration: none;
    display: inline-block;
    padding: 0 0.75rem;
}