<div [style.height.px]="height" class="waveform-wrapper">
    <ngx-spinner [fullScreen]="false" [name]="spinnerId"></ngx-spinner>
    <div class="row h-100">
        <div class="col d-flex o-80">
            <div *ngFor="let peak of peaks$ | async" class="mx-auto h-100" [style.width.%]="peakWidth">
                <div class="h-75 d-flex">
                    <div class="waveform-peak float-start bg-secondary mt-auto o-100 w-100" [style.height.%]="peak" ></div>
                </div>
                <div class="h-25 d-flex">
                    <div class="waveform-peak float-start bg-secondary mb-auto o-80 w-100" [style.height.%]="peak"></div>
                </div>
            </div>
        </div>
    </div>
</div>